{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ title }}{% endblock title %}

{% block body %}
    <h4 class="mb-2">Total Value: ${{ total_value|number_format(2, '.', ',') }}</h4>
    <div class="row mt-4">
        <div class="col-12 mb-4">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>ACCOUNT</th>
                        <th>TYPE</th>
                        <th>CHANGE $</th>
                        <th>CHANGE %</th>
                        <th>VALUE</th>
                        <th>CREATED</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        {% set link = path('show-account', {account_id: loop.index}) %}
                        <tr class="clickable" onclick="window.location='{{ link }}'">
                            <td>{{ account.name }}</td>
                            <td>{{ account.account_type }}</td>
                            <td></td>
                            <td></td>
                            <td>${{ account.value|number_format(2, '.', ',') }}</td>
                            <td>{{ account.created_at|ago }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="px-2">
        <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Add an Account</button>
    </div>
{% endblock body %}